@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
}
