.product-text-container {
    position: absolute;
    top: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 2rem;
    color: white;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.product-title {
    font-size: 2rem;
    font-weight: 700;
}

.product-detail {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1.25rem;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fff;
}
